* {
    padding: 0;
    margin: 0;
}

/* 导航栏 */
.nav {
    width: 100%;
    height: auto;
    background-color: rgba(98, 94, 91, .8);
    position: absolute;
    top: 0px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}

@media all and (max-width:1200px) {
    .nav {
        width: 1200px;
    }
}

.nav-logo {
    position: relative;
    overflow: hidden;
    height: 95px;
    width: 360px;
    background-color: #fff;
    box-sizing: border-box;
    padding-left: 50px;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 50px;
}
.nav-logo a{
    position: relative;
    display: inline-block;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 50px;
    text-decoration: none;
    color: black;
}

.logoheadline {
    margin-left: 15px;
}

.logoheadline p {
    font-size: 13px;
    word-spacing: 4px;
}

.logo-angle {
    position: absolute;
    top: -12px;
    left: -12px;
    height: 22px;
    width: 22px;
    background-color: #14916A;
    transform: rotateZ(45deg);
}

/* 导航栏按钮 */
.nav-right {
    width: 56%;
    display: flex;
    justify-content: space-between;
}

.navlist li,
.navtouch-list li {
    display: inline-block;
}

.navlist-ul {
    height: 100%;
    width: 600px;
    display: flex;
    align-items: center;
}

.navlist-ul li {
    padding: 0 20px;
    height: 36px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    line-height: 36px;
    position: relative;
    overflow: hidden;
}

.navlist-ul li:hover:after {
    position: absolute;
    content: "";
    top: -12px;
    right: -12px;
    height: 22px;
    width: 22px;
    background-color: #14916A;
    transform: rotateZ(45deg);
}

.navlist-ul li:hover {
    background-color: #fff;
}

.navlist-ul li a {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}

.navlist-ul li:hover a {
    color: #14916A;
}

/* 导航栏图片列表 */
.navtouch-list-ul {
    height: 100%;
    display: flex;
    width: 350px;
    justify-content: space-around;
    align-items: center;
}
.navtouch-list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.navtouch-list ul li {
    width: 24px;
    height: 24px;
    position: relative;
}


.navtouch-list ul li img:nth-child(2) {
    z-index: 3;

    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
}

.navtouch-list ul li img:nth-child(3) {
    position: absolute;
    top: 30px;
    left: -10px;
    width: 70px;
    height: 70px;
    opacity: 0;
}

.navtouch-list ul li h4 {
    position: absolute;
    top: 40px;
    left: -70px;
    color: #fff;
    text-decoration: none;
    width: 150px;
    opacity: 0;
}
.navtouch-list ul li:hover h4 {
    opacity: 1;
}

.navtouch-list ul li:hover img:nth-child(1) {
    opacity: 0;
}

.navtouch-list ul li:hover img:nth-child(2) {
    opacity: 1;
}

.navtouch-list ul li:hover img:nth-child(3) {
    opacity: 1;
}


/* 图片轮播css */
.banner {
    position: relative;
    width: 100%;
    height: 500px;
    top: 0px;
}

@media all and (max-width:1920px) {
    .banner {
        height: 500px;
        overflow: hidden;
    }

}


.banner-imgs {
    width: 100%;
    height: 100%;
}

.imgbox {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@media all and (max-width:1920px) {
    .banner-imgs {
        width: 1920px;
    }

    .imgbox {
        width: 1920px;
    }

    .imgbox img {
        width: 1920px;
    }
}

.imgbox img {
    width: 100%;
}

.banner-btn {
    position: absolute;
    top: 283px;
    left: 360px;
    width: 330px;
    height: 130px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    background: rgba(19, 104, 76, .8);
    box-sizing: border-box;
    padding-right: 30px;
    padding-top: 25px;
    text-align: end;
    cursor: pointer;
    color: #C1C8C6;
}




/* 主题内容 */
.mainbox {
    width: 100%;

}

.main1 {
    padding-top: 45px;
    width: 100%;
    background: #eee;
}

.main2 {
    padding-top: 45px;
    padding-bottom: 60px;
    width: 100%;
    background: #fff;
}

.main-content {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.con1-headline {
    margin: 0 auto;
    width: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.con1-headline h1 {
    text-align: center;
    width: 100%;
    font-size: 30px;
    font-weight: 400;
}

.con1-headline p {
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid;
    font-size: 15px;
}

.con1-img {
    position: relative;
    width: 100%;
    height: 470px;
    margin-top: 22px;
    background: chartreuse;
    overflow: hidden;
}

.con2-img {
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.con2-img img {
    width: 100%;
    height: 100%;
}

.con1-list {
    position: absolute;
    bottom: 0px;
    width: 325px;
    height: 470px;
    background: rgba(0, 0, 0, .8);
    box-sizing: border-box;
    padding: 37px 30px;
}

.con1list-headline {
    color: #fff;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.con1list-headline h1 {
    letter-spacing: 1px;
}

.con1list-headline h1,
.con1list-headline h3 {
    font-weight: 300;
}

.con1list-text {
    margin-top: 20px;
}

.con1list-text p {
    font-size: 14px;
    text-indent: 26px;
    color: #fff;
    line-height: 30px;
}

.img-btn {
    width: 45px;
    height: 45px;
    line-height: 38px;
    display: inline-block;
    position: absolute;
    top: 55%;
    font-size: 50px;
    border-radius: 50%;
    background: #14916A;
    color: #fff;
    cursor: pointer;
    box-sizing: border-box;
}

.left-btn {
    padding-left: 2px;
    left: -150px
}

.right-btn {
    padding-left: 7px;
    right: -150px;
}

.con2-after {
    bottom: 0px;
    position: absolute;
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.con2-after h1 {
    font-weight: 500;
    letter-spacing: 5px;
}

.con2-after h3 {
    font-weight: 400;
}



/* .nav-right{
   text-align: center;
    right: -60px;
} */




/* 页脚 */
.footer-box {
    border-top: 1px solid #E1E1E1;
    width: 100%;
    background: #F3F3F3;
}

.footer {

    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.footer-left,
.footer-right {
    width: 320px;
    height: auto;
}

.footer-bottom {
    width: 100%;
}

/* 页脚左边 */
.footer-left {
    padding-top: 240px;
    padding-bottom: 50px;
    font-size: 13px;
    line-height: 24px;
    color: #616161;
}

.footer-left h2 {
    color: #000;
    font-weight: 400;
    margin-bottom: 40px;
}

.footer-left p i {
    font-size: 18px;
}

/* 页脚中间 */
.footer-center {
    width: 450px;
    height: auto;
}

.footer-logo {
    margin: 50px auto;
    margin-bottom: 20px;
    width: 200px;
    height: 60px;
    display: flex;
    opacity: .5;
}
.footer-logo a{
    display: flex;
    color: black;
    text-decoration: none;
}

.footer-phone {
    width: 445px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.footphone-top,
.footphone-bottom {
    width: 100%;
    height: 18px;
    border: 1px solid #B9B9B9;
}

.footphone-top {
    border-bottom: none;
}

.footphone-bottom {
    border-top: none;
}

.footphone-center {
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    color: #14926B;
}

.footphone-center p i {
    font-size: 28px;
    text-align: 42px;
    font-weight: 600;
}

.footcen-list {
    margin: 50px auto;
    margin-bottom: 25px
}

.footcen-list h3 {
    margin-bottom: 30px;
    font-weight: 500;
    padding-left: 7px;
    margin-left: 20px;
}

.footcen-list ul li {
    display: inline;
    padding: 0 7px;
    font-size: 13px;
    position: relative;
}

.footcen-list ul {
    margin-left: 20px;
}

.footcen-list ul li a {
    color: #000;
    text-decoration: none;
}
.footcen-list ul li a:hover{
    color:#14916A
}
.footcen-list ul li::after {
    content: "/";
    position: absolute;
    top: 0px;
    margin: 0 6px;
}

.footcen-list ul li:last-child::after {
    display: none;
}

.footcen-text {
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: #B9B9B9;
}

/* 页脚左边 */
.footright-headline {
    margin-top: 240px;
    width: 100%;
}

.footright-headline h3 {
    font-weight: 500;
}

.footright-list {
    width: 100%;
}

.footright-ul {
    margin-top: 25px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footright-ul li {
    display: inline;
    position: relative;
}

.footright-ul li img:nth-child(2) {
    position: absolute;
    top: 0px;
    left: -.5px;
    opacity: 0;
}
.footright-ul li img:nth-child(3) {
    position: absolute;
    top: 30px;
    left: -10px;
    width: 70px;
    height: 70px;
    opacity: 0;
}
.footright-ul li:hover img:nth-child(3) {
    opacity: 1;
}
.footright-ul li:hover img:nth-child(1) {
    opacity: 0;
}

.footright-ul li:hover img:nth-child(2) {
    opacity: 1;
}
.footright-ul li h4 {
    position: absolute;
    top: 30px;
    left: -70px;
    color: #000;
    text-decoration: none;
    width: 150px;
    opacity: 0;
}
.footright-ul li:hover h4 {
    opacity: 1;
}
.footright-text {
    margin-top: 20px;
    font-size: 14px;
    color: #14926B;
}


.footer-bottom {
    height: 50px;
    width: 100%;
    border-top: 1px solid #D3D3D3;
}

.footer-bottom p {
    line-height: 50px;
    text-align: center;
    font-size: 14px;
}